---
title: Product
description: Here is product page
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product-page.css
---

<%
  missing_feature_count = 0
  def missing_feature(feature)
    !(feature.gitlab_core || feature.gitlab_starter || feature.gitlab_premium || feature.gitlab_ultimate)
  end
%>
<div class="blank-header">
  <div class="header-content">
    <% if category.name %>
      <h1><%= category.name %></h1>
    <% end %>
    <% if category.description %>
      <p><%= category.description %></p>
    <% end %>
    <% if category.link %>
      <a href="<%= category.link %>" class="btn cta-btn orange"><%= category.link_description %></a>
    <% end %>
  </div>
</div>
<div class="gitlab-content-container">
  <% if category.body %>
    <%= kramdown(category.body) %>
  <% end %>
</div>
<div class="page-container feature-gallery text-center">
  <div class="container titles">
    <h1>Features</h1>

    <div class="features-description features-description-separation">
      <% data.features.features.each do |feature| %>
        <% if (feature.category.respond_to?(:include?) && feature.category.include?(category_key)) || feature.category == category.name %>
          <% missing_feature_count +=1 and next if missing_feature(feature) %>
          <%= partial "includes/features/feature-item", locals: { feature: feature } %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if missing_feature_count > 0 %>
    <div class="container titles">
      <h1>Missing</h1>

      <div class="features-description features-description-separation">
        <% data.features.features.each do |feature| %>
          <% if (feature.category.respond_to?(:include?) && feature.category.include?(category_key)) || feature.category == category.name %>
            <% next unless missing_feature(feature) %>
            <%= partial "includes/features/feature-item", locals: { feature: feature } %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
